@charset "utf-8";
.Texto12negroBold {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000;
}
.Texto13negroBold {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#000;
}
.Texto14negroBold {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#000;
}
.Texto12negro {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color:#000;
}
.Texto13negro {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color:#000;
}
.Texto14negro {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color:#000;
}